/* ___Fonts___ */

@font-face { 
	font-family: "PTsans55F"; 
	src: url(../fonts/PTC55F.ttf); 
}

@font-face { 
	font-family: "PTsans75F";
	src: url(../fonts/PTC75F.ttf); 
}

@font-face { 
	font-family: "PTsans57F";
	src: url(../fonts/PTN57F.ttf); 
}

@font-face { 
	font-family: "PTsans77F";
	src: url(../fonts/PTN77F.ttf); 
}

@font-face { 
	font-family: "PTsans55SF";
	src: url(../fonts/PTS55F.ttf); 
}

@font-face { 
	font-family: "PTsans75SF";
	src: url(../fonts/PTS75F.ttf); 
}

@font-face { 
	font-family: "LatoBold";
	src: url(../fonts/Lato/Lato-Hairline.ttf); 
}


/**/

.title__font {
	font: 50px PTsans75F;
	padding: 0;	
	text-transform: uppercase;
	text-align: center;	
}

.sliders__block--font {
	font: 40px PTsans75F;	
	text-transform: uppercase;
	text-align: center;	
	margin: 0;
	padding-top: 4px;	
	color: white;
}

.sliders__step--font {
	font: 30px PTsans75F;	
	text-transform: uppercase;
	text-align: center;	
	margin-top: -5px;
	padding-top: 0px;	
	color: black;
}

.chart__font {
	font-family: 'LatoBold';
	font-size: 110px;
	letter-spacing: -10.2px;
	text-transform: uppercase;
	text-align: center;			
	font-weight: 700;
	color: black;
	padding: 0;
	margin: 4px 0 0 -24px;
}


/* ___General___ */

body {	
  padding: 0;
  margin: 0;
  width: 100%;

  /*for ripple effects*/
  --x: 0px;
  --y: 0px;
  --scale: 0;
}

html { 
  overflow-x: hidden;
}


/* functions */
.border__black {
	border: 2px dashed black;
}

.border__blue {
	border: 1px dotted blue;
}

.border__red {
	border: 1px solid red;
}

.border__green {
	border: 1px solid green;
}

.genBlock(@Width, @Height, @color) {
	width: @Width; 	
	height: @Height; 
	border: 1px solid @color;
	/*border-color: transparent;*/
	margin: 0 auto 0 auto;
}

.flexBoxEnabled {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
}

.titleFontPos(@top, @left, @spacing) {
	margin: @top 0 0 @left;
	letter-spacing: @spacing;
}

/*.genBlock(@Width, @minWidth, @Height, @color) when (@color = black) {
	...
}*/

/* general */
@GenWidthAllBlocks: 1660px;
@GenWidth: auto;

/* header */
@HeaderHeight: 1360px;

/* main */
@MainHeight: 4010px;

/* footer */
@FooterHeight: 3860px;


/* ___Header___ */

header {	
	.border__black;
	width: @GenWidth;
	height: @HeaderHeight;
}

.header__standard {	
	.genBlock(@GenWidthAllBlocks, 940px, black);

	.flexBoxEnabled;
	flex-direction: column;	
}


/**/

.header__standard--title {
	.border__blue;
	width: 610px;
	height: 90px; 
	margin: 205px auto 0 auto;
}

.header__standard--title p {
	.titleFontPos(10px, 24px, 4.4px);
}

/**/

.header__standard--buttons {
	.border__blue;
	width: 1340px;
	height: 455px; 
	margin: 130px auto 0 auto;

	.flexBoxEnabled;
	flex-direction: row;
	align-items: center;	
}

.header__standard--row {
	.border__green;
	width: auto;
	height: auto;	
}

.small {
	height: 380px;
	margin-top: 52px;
}

.normal {
	height: 380px;
	margin-top: -4px;	
}

.second {
	margin-left: 15px;
	margin-right: 8px;
}

.header__standard--block:first-child {	
	margin: 2px 0 10px 0;
}

.header__standard--block {
	.border__blue;
	width: 370px;
	height: 100px;
	margin: 50px 0 50px 0;
}

.header__standard--block:last-child {	
	margin-bottom: 8px;
	margin-top: -4px;
}

.small__buttons:first-child {
	margin: 0px 0 40px 0;
}

.small__buttons {
	.border__red;
	width: 290px;
	height: 70px;
	margin: 80px 0 80px 0;
}

.small__buttons:last-child {
	margin-bottom: 40px;
}

.small-button {
	width: 212px;
	height: 65px;
	padding: 0px 0 0 16px;
	font-family: 'PTsans75F';
	font-size: 25px;
	letter-spacing: 4.2px;
	padding-left: 2px;
	text-transform: uppercase;
	text-align: center;
	color: #4EB7A8;
	text-decoration: none;
	display: block;
	margin: 0 auto 0 auto;
	cursor: pointer;

	/*for ripple animation*/
	position: relative;
	overflow: hidden;
}

.standard-button {
	width: 320px;
	height: 94px;		
	padding: 0px;
	font-family: 'PTsans75F';
	font-size: 30px;
	letter-spacing: 4.2px;
	text-transform: uppercase;
	text-align: center;			
	color: #4EB7A8;
	text-decoration: none;
	display: block;
	margin: 0 auto 0 auto;
	cursor: pointer;

	/*for ripple animation*/
	position: relative;
	overflow: hidden;
}

.green {
	border: 2px solid #4EB7A8;
	border-bottom: 5px solid #28A290;
	border-radius: 8px;	
	background: white;
}

.green:hover {
	background-color: #4EB7A8;
	color: white;
}

.red {
	border: 2px solid #BF3E1F;
	border-bottom: 5px solid #BF3E1F;
	border-radius: 8px;	
	background: white;
}

.red:hover {
	background-color: #BF3E1F;
	color: white;
}

.rightFontColor {
	color: #BF3E1F;
}

.animate {
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.standard-button:active, .small-button:active {
	transform: translate(0px,8px);
  	-webkit-transform: translate(0px,8px);
	border-bottom: 1px solid;
}

.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255,255,255,0.4);
  transform: scale(0);
  position: absolute;
  opacity: 1;
  animation: ripple 0.5s linear;
}

@keyframes ripple {
  100% {
   transform: scale(2);
   opacity: 0;
  }
}


/**/

.header__arrows {
	.genBlock(@GenWidthAllBlocks, 416px, black);

	.flexBoxEnabled;
	flex-direction: column;	
}

.header__arrows--title {
	.border__blue;
	width: 510px;
	height: 90px; 
	margin: 50px auto 0 auto;
}

.header__arrows--title p {
	.titleFontPos(10px, 24px, 4.4px);
}

.header__arrows--buttons {
	.border__blue;
	width: 1210px;
	height: 190px; 
	margin: 50px auto 0 auto;	
	.flexBoxEnabled;
	justify-content: center;
}

.arrows__mini--block {
	.border__green;
	width: 403px;
	height: 190px;
}

.arrow__btn {
	.border__red ;
	border-radius: 50%;
	display: inline-block;
    width: 138px;
    height: 138px;
    margin: 0 5px;
    vertical-align: bottom;
    background: url("../images/sprites.png") no-repeat;
    float: left;
    cursor: pointer;
}

.arrow__btn--left {	
    background-position: -296px -7px;
    margin: 25px 32px;
}

.arrow__btn--right {	
    background-position: -441px -7px;
    margin: 25px 0 0 33px;    
}

.arrow__btn--left:hover {
    background-position: -7px -8px;
}

.arrow__btn--right:hover {	
    background-position: -153px -8px;    
}

.arrow__btn--left:active {
    background-position: -585px -7px;
}

.arrow__btn--right:active {	
    background-position: -731px -7px;    
}

/* ___Main Content___ */

main {
	.border__black;
	width: @GenWidth;
	height: @MainHeight;
}


/**/

.main__charts {
	.genBlock(@GenWidthAllBlocks, 500px, black);
}

.main__charts--title {
	.border__blue;
	width: 810px;
	height: 90px; 
	margin: 50px auto 0 auto;
}

.main__charts--title p {
	.titleFontPos(6px, 24px, 2.8px);
}

.main__charts-block {
	.border__blue;
	width: 1640px;
	height: 286px; 
	margin: 30px auto 0 auto;	
	.flexBoxEnabled;
	justify-content: center;
}


.charts__mini--block:first-child {
	.border__red;
	width: 712px;	
}

.charts__mini--block {
	.border__green;
	width: 710px;
	height: 286px;
}

.charts__mini--block:last-child {
	.border__red;
	width: 320px;
}

.chart__block {
	.border__blue;
	width: 270px;
	height: 270px;
	float: left;	
}

.chart__block:first-child {
	margin-right: 24px;
}

.chart__text {
	.border__red;	
	margin: 64px auto 0 64px;
	width: 140px;
	height: 140px;	
}

.chart__text p {
	.chart__font;
}

.circle__chart--single {
	.border__green;
    display: block;
    float: left;
    margin-top: -200px;	
}

circle {
	fill: rgba(0,0,0,0);
	stroke: #E5E5E5;
	stroke-width: 12;
	stroke-dasharray: 408px 408px;
}

circle:nth-child(2n) {
	fill: rgba(0,0,0,0);
	stroke: #E43E17;
	stroke-width: 12;
}

.chart__pie--container {
	.border__green;
    position: relative;
    float: left;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    margin: 16px 0 0 30px;    
}

.chart__pie--container::after {
	.border__green;
    content: "";
    position: absolute;
    top: 17%;
    left: 17%;
    z-index: 50;
    width: 65%;
    height: 65%;
    color: white;
    background-color: white;
    border-radius: 50%;
}

.pie {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #aaaaaa;
    border-radius: 50%;    
 }

.pie:nth-child(1) {
	clip: rect(0px, 150px, 150px, 0px);
}

.pie:nth-child(2) {
	clip: rect(0px, 150px, 150px, 0px);
}

.pie:nth-child(3) {
	clip: rect(0px, 145px, 145px, 0px);
}

.pie:nth-child(4) {
	clip: rect(0px, 130px, 190px, 0px);
}

#gray {
    z-index: 10;
    background-color: #747474;
    transform: rotate(50deg); /*-20*/
}

#red {
    z-index: 20;
    background-color: #E75735;
    transform: rotate(140deg); /*160*/
}

#green {
    z-index: 41;
    background-color: #4EB7A8;
    transform: rotate(235deg); /*20*/
}

#empty {
    z-index: 40;
    background-color: #E5E5E5;
    transform: rotate(360deg); /*100*/
}


/**/

.main__sliders {
	.genBlock(@GenWidthAllBlocks, 350px, black);
}

.main__sliders--title {
	.border__blue;
	width: 810px;
	height: 70px; 
	margin: 30px auto 0 auto;
}

.main__sliders--title p {
	.titleFontPos(6px, 24px, 1.5px);
}

.main__sliders--block {
	.border__blue;
	width: 1640px;
	height: 200px; 
	margin: 10px auto 0 auto;	
	.flexBoxEnabled;
	justify-content: center;
}

.sliders__mini--block {
	.border__blue;
	width: 730px;
	height: 200px;
}

.sliders__mini--block:first-child {
	margin-right: 176px;
}

.slider__container {
	.border__green;
	width: auto;
	height: 150px;
	margin: 0px 0px 0 0px;
}

.slider__container input {
	margin-top: 44px;
}

.range__block {		
	width: 93px;	
	height: 63px;
	background: #E75735;
	border-radius: 12px;
	margin-left: -10px;
	margin-top: 5px;	

	-webkit-webkit-transition-duration: 0.7s;
	-moz-webkit-transition-duration: 0.7s;
	-ms-webkit-transition-duration: 0.7s;
	-o-webkit-transition-duration: 0.7s;
	webkit-transition-duration: 0.7s;
	transition-duration: 0.7s;
}

/* triangle */
.range__block::after {
    content: '';  
    position: relative;   
    left: 36px; bottom: -16px; /* position */
    border: 10px solid transparent; /* Прозрачные границы */
    border-top: 12px solid #E75735; /* Добавляем треугольник */    
}

.range__block p {
  	-moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

	margin: 0;
	padding-top: 4px;
	font-size: 40px;
	color: white;	
}

.slider__range--pos {
	margin-top: 68px;
}

.slider__bar--value {
	.border__red;
	width: 730px;
	height: 46px;
}

.bar__value--step {
	.border__green;
	width: 60px;
	height: 35px;
	float: left;	
}

.bar__value--step:nth-child(1) {
	margin-left: 4px;
	margin-right: 105px;	
}

.bar__value--step:nth-child(2), 
	.bar__value--step:nth-child(3) {
		margin-right: 105px;
}

.bar__value--step:nth-child(4) {
	margin-right: 100px;
}

/* slider range */
.slider__range {
	/* remove the view that the browser gives us */
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;

    width: 715px;
    height: 10px;   
    background: #E5E5E5;
    border-radius: 10px;   
    outline: none;     
}

.slider__range--fill {			
	background: #4EB7A8;
	width: 0px;
	height: 10px;
	border-radius: 10px;
	position: absolute;
	margin: 45px 0 0 10px;	
}

/* slider range -> pointer */
.slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;

    width: 50px;
    height: 50px;
    border-radius: 28px;
    background-image: url(../images/sprites.png);
    background-position: -879px -54px;
    cursor: pointer;
    border: none;
    outline: none;
}

#trackBar2::-webkit-slider-thumb {
	background-position: -939px -54px;
}

/* for moz */
.slider__range::-moz-range-track {
    width: 715px;
    height: 10px;    
    background: #E5E5E5;
    border-radius: 4px; 
    outline: none;       
}

.slider__range::-moz-range-thumb {
    width: 50px;
    height: 50px;
    border-radius: 28px;
    background-image: url(../images/sprites.png);
    background-position: -879px -54px;
    cursor: pointer;
    border: none;
    outline: none;    
}

#trackBar2::-moz-range-thumb {
	background-position: -939px -54px;
}

/**/

.main__stages {
	.genBlock(@GenWidthAllBlocks, 340px, black);
}

.main__stages--title {
	.border__blue;
	width: 810px;
	height: 70px; 
	margin: 40px auto 0 auto;
}

.main__stages--title p {
	.titleFontPos(6px, 16px, 3.8px);
}


/**/

.main__elements {
	.genBlock(@GenWidthAllBlocks, 940px, black);
}

/**/

.main__blogs {
	.genBlock(@GenWidthAllBlocks, 940px, black);
}

/**/

.main__news {
	.genBlock(@GenWidthAllBlocks, 930px, black);
}

/* ___Footer___ */

footer {
	.border__black;
	width: @GenWidth;
	height: @FooterHeight;
}

.footer__location {
	.genBlock(@GenWidthAllBlocks, 1020px, black);
}

.footer__blog {
	.genBlock(@GenWidthAllBlocks, 1440px, black);
}

.footer__video {
	.genBlock(@GenWidthAllBlocks, 1396px, black);
}

/* ___Responsive design___ */

@media screen and (max-width: 1660px) {		
/*header*/
	.header__standards, .header__arrows {
		width: auto;		
	}

/*main*/
	

/*footer*/
	

}