//-NOTE: general templates
include src/blocks/pages/main/head/head
include src/blocks/ui-kit/chapter/chapter

//- NOTE: content
include src/blocks/ui-kit/standard-buttons/standard-buttons
include src/blocks/ui-kit/arrow-buttons/arrow-buttons
include src/blocks/ui-kit/percentages-pie/percentages-pie
include src/blocks/ui-kit/sliders/sliders
include src/blocks/ui-kit/stages/stages
include src/blocks/ui-kit/form-elements/form-elements
include src/blocks/ui-kit/search-profile/search-profile
include src/blocks/ui-kit/news-events/news-events
include src/blocks/ui-kit/location/location
include src/blocks/ui-kit/calendar-messaging/calendar-messaging
include src/blocks/ui-kit/video/video

//- NOTE: content templates
include src/blocks/components/buttons/buttons
include src/blocks/components/chart-percentage/chart-percentage
include src/blocks/components/chart-pie/chart-pie
include src/blocks/components/slider/classic-slider/classic-slider
include src/blocks/components/slider/step-slider/step-slider
include src/blocks/components/stage/stage
include src/blocks/components/feed-back/feed-back
include src/blocks/components/toggles/toggles
include src/blocks/components/tick-boxes/tick-boxes
include src/blocks/components/search/search
include src/blocks/components/drop-down/drop-down
include src/blocks/components/user-profile/user-profile
include src/blocks/components/news/news
include src/blocks/components/events/events
include src/blocks/components/map/map
include src/blocks/components/calendar/calendar
include src/blocks/components/messaging/messaging
include src/blocks/components/video-player/video-player

//- NOTE: launch content
+headList