//-NOTE: general templates
include src/blocks/head/head
include src/blocks/chapter/chapter

//- NOTE: content
include src/blocks/standard-buttons/standard-buttons
include src/blocks/arrow-buttons/arrow-buttons
include src/blocks/percentages-pie/percentages-pie
include src/blocks/sliders/sliders
include src/blocks/stages/stages
include src/blocks/form-elements/form-elements
include src/blocks/search-profile/search-profile

//- NOTE: content templates
include src/blocks/templates/button-standard/button-standard
include src/blocks/templates/button-arrow/button-arrow
include src/blocks/templates/chart-percentage/chart-percentage
include src/blocks/templates/chart-pie/chart-pie
include src/blocks/templates/slider/classic-slider/classic-slider
include src/blocks/templates/slider/step-slider/step-slider
include src/blocks/templates/stage/stage
include src/blocks/templates/feed-back/feed-back
include src/blocks/templates/toggles/toggles
include src/blocks/templates/tick-boxes/tick-boxes
include src/blocks/templates/search/search
include src/blocks/templates/drop-down/drop-down
include src/blocks/templates/user-profile/user-profile
include src/blocks/templates/news/news
include src/blocks/templates/events/events
include src/blocks/templates/map/map
include src/blocks/templates/calendar/calendar
include src/blocks/templates/messaging/messaging
include src/blocks/templates/video-player/video-player

//- NOTE: launch content
+headList