mixin search-profile(parameter)
	-var parameter = parameter || {};
	-var searchTitleEnabled = parameter.searchTitleEnabled || 'true';
	-var searchTitle = parameter.searchTitle || 'form elements';
	-var searchValue = parameter.searchValue || '';
	-var searchFill = parameter.searchFill || 'true';

	-var dropDownQuantity = parameter.dropDownQuantity || 2;
	-var dropDownValue1 = parameter.dropDownValue1 || 'DataBase';
	-var dropDownValue2 = parameter.dropDownValue2 || '';
	-var dropDownValue3 = parameter.dropDownValue3 || '';
	-var dropDownValue4 = parameter.dropDownValue4 || '';

	-var profileTitleEnabled = parameter.profileTitleEnabled || 'true';
	-var profilePhotoName = parameter.profilePhotoName || 'Frodo';
	-var profilePhotoRank = parameter.profilePhotoRank || 'developer';
	-var profilePhotoName = parameter.profilePhotoName || 'Frodo';
	-var profilePhotoAlt = parameter.profilePhotoAlt || 'frodo photos';
	-var profilePhotoTitle = parameter.profilePhotoTitle || 'SEO words';
	-var profileLink = parameter.profileLink || '../404/404.html';

	//-

	section.search-profile
		.search-profile__search
			.search-profile__search-title
				+chapter__title('search / drop down')

			.search-profile__list
				.search-profile__item
					+search

				.search-profile__item
					+search({
						value: `I've not found what I'm looking for...`,
						fill: 'true'})

				.search-profile__item
					+drop-down({quantity: 2, value1: 'DataBase'})

		//-

		.search-profile__profile
			.search-profile__profile-title
				+chapter__title('user profile')

			.search-profile__profile-content
				+user-profile
				+user-profile({
					name: 'Frodo',
					rank: 'developer',
					photoName: 'Frodo',
					photoAlt: 'frodo photos',
					photoTitle: 'SEO words',
					link: '../404/404.html'
				})