section.calendar-messaging
	.calendar-messaging__calendar
		.calendar-messaging__calendar-title
			+chapter__title('calendar')

		.calendar-messaging__calendar-content
			+calendar

	//-

	.calendar-messaging__messaging
		.calendar-messaging__messaging-title
			+chapter__title('messaging')

		.calendar-messaging__messaging-content
			+messaging({name: 'Sarah Brown'})